@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");

body,
button {
  font-family: "Montserrat", sans-serif;
}
body {
  min-width: 580px;
  min-height: 200px;
}
h1 {
  background-color: #5b5e9a;
  color: white;
}
.button {
  background-color: #855f98; /* purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  width: 21%;
}
.button:hover {
  background-color: #ac79c3;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
/* if popup is not applicable */
.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed;
}
#panel {
  background-color: #c8c4c7;
  color: black;
  width: 87%;
  margin-bottom: 5%;
  margin-right: 30%;
  padding: 2% 5% 2% 3%;
  padding-right: 10%;
}

li {
  margin: 6% 0;
}

.close_terms {
  /* width: 0px; */
  height: 0px;
  transition: width 2s, height 1s;
  overflow: hidden;
}
.open_terms {
  width: 300px;
  height: auto;
  transition: width 2s, height 1s;
  overflow: auto;
  overflow-y: hidden;
}
.noDataMessage {
  padding: 6%;
  background-color: white;
}

/* Disregard the code below */
.scroll-text {
  animation: my-animation 3s linear;
}
@keyframes my-animation {
  from {
    -webkit-transform: translateY(20%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}

#terms_agreement a {
  color: black;
  text-decoration: underline;
}
#terms_agreement a:hover {
  color: #ac79c3;
}
